
  <h1 class="p-3" style="margin-bottom: 0;">Your stampcards</h1>
  <% @stamp_cards.each do |stamp_card| %>
    <ul class="list-unstyled ps-1">
    <li><%= render "stampcard_on_index", stamp_card: stamp_card %></li>
    </ul>
  <% end %>
