// Define variables for your color scheme
// For example:
$red: #FD1015;
// $blue: #1B3065;
$blue: #2f397c;
$primary: #0275d8;
$yellow: #FFF588; //#fff055; //radial-gradient(50% 250% at 0 50%,#f9ec67 0,#fff055 100%);;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #DFE4ED; //#DFE4ED
