// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #1B3065;
$blue: #2F397C;
$primary: #0275D8;
$yellow: #FFF588; //#FFF055; //radial-gradient(50% 250% at 0 50%,#F9EC67 0,#FFF055 100%);;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #DFE4ED; //#DFE4ED
