<div data-search-shop-target="list">
  <% shops.each do |shop| %>
    <%= link_to shop_path(shop), style: "text-decoration: none" do %>
      <div class="card-product my-2">
        <div class="card-img-container">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        </div>
        <div class="card-product-infos">
          <div class="first-line-right">
            <%= shop.name %>
            <p>distance</p>
          </div>
          <p>here is going to be some text // here is going to be some text // here is going to be some text</p>
          <div class="last-line-right">
            <%= shop.category %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
