<div class="modal" tabindex="-1" id="testModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-confirmation">
        <p class="text-center mb-3">You recieved a new stamp!</p>
        <%= render "shared/confirmation" %>
      </div>
    </div>
  </div>
</div>
