<div class="nav-bot sticky-bottom p-2">
  <%= link_to root_path do  %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to root_path do  %>
    <i class="fa-solid fa-qrcode"></i>
  <% end %>
  <%= link_to root_path do  %>
    <i class="fa-solid fa-stamp"></i>
  <% end %>
</div>
