
<div class="container shop-container my-3">
  <div class="main-container-shop">
    <div class="thecard-shop">
      <div class="front-shop p-3">
        <div class="card-first-line-shop">
          <h4>Opening Hours</h4>
        </div>
        <div class="date-and-hour d-flex justify-content-between">
          <p class="py-2 flex-grow-1">Mon - Sun</p>
          <p class="py-2"><i>11 AM - 9 PM</i></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
