

<!-- This button will be deleted when the logic is implemented-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<!-- The code above is just to be able to see the pop up,
    until we have the logic that triggers it -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog my-5">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%=  "OFFER PLACEHOLDER" %></h5>
      </div>
      <div class="modal-body align-items-center justify-content-center text-center">
        <%= render "shared/stampcard" %>

        <h2 class="m-2 text-center">Stamp added!</h2>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- the information we are showing are placeholders -->
