<div class="container">
  <div class="main-container">
    <div class="thecard" data-controller="stamp-card">
      <div class="front p-3">
        <div class="card-first-line">
          <h2>Shop.name</h2>
          <i class="fa-solid fa-circle-info" data-action="click->stamp-card#switchToBack"></i>
        </div>
          <p>stamp_card.title</p>
          <div class="img-container">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">

          </div>
      </div>
      <div class="back p-3">
        <div class="card-first-line">
          <h2>Shop.name</h2>
          <i class="fa-solid fa-xmark" data-action="click->stamp-card#switchToFront"></i>
        </div>
        <p>stamp_card.description</p>

        <div class="last-line">
          <p>stamp_card.expiration_date</p>
        </div>
      </div>
    </div>
  </div>
</div>
