<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <div class="container d-flex align-items-center justify-content-center">
    <div id="carouselExampleCaptions" class="carousel slide w-75 mt-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <div>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("restaurant.jpeg") %>
          <div class="carousel-caption d-none d-md-block">
            <h6>Business Placeholder</h6>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("restaurant.jpeg") %>
          <div class="carousel-caption d-none d-md-block">
            <h6>Second slide label</h6>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("restaurant.jpeg") %>
          <div class="carousel-caption d-none d-md-block">
            <h6>Third slide label</h6>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
