.modal {
opacity: 90%;
background-color: #DFE4ED;
border: 2px solid rgb(118, 221, 118);
}

.modal-body {
  opacity: 100%;

}

.modal-content {
  opacity: 100%;
  border: 2px solid rgb(118, 221, 118);
  align-items: center;
  justify-content: center;
}
