// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar_top";
@import "searchbar";
@import "navbar_bottom";
@import "cards";
@import "carousel";
@import "stampcard_design";
@import "confirmation_message";
@import "map";
@import "qr_code_card";
@import "opening_hours";
