.nav-bot {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  // text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-bot .fa-solid {
  color: black;
}

.last-line-space {
  height: 57px;
  width: 390px;
  padding: 8px;

}
