.nav-bot {
  background-color: white;
  border-top: 0.8px solid $light-gray;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  i {
    font-size: 28px;
    color: $blue;
  }
  p {
    font-size: 12px;
    margin-bottom: 0;
    color: $blue;
  }
}

.last-line-space {
  height: 57px;
  width: 390px;
  padding: 8px;
}
